<script>
  if (document.getElementById("post-header")) {
    document.getElementById("post-header").scrollIntoView();
  }
  
  if (document.getElementById("scroll")) {
    document.getElementById('scroll').onclick = function () {
      document.getElementById("posts").scrollIntoView();
    }
  }

  var xmlHttp = new XMLHttpRequest();
  xmlHttp.onreadystatechange = function() {
    if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
      data = JSON.parse(xmlHttp.responseText);

      if (document.querySelector(".location")) {
        document.querySelector(".location").innerHTML = data.location.html
      }
      if (document.querySelector(".next_location")) {
        document.querySelector(".next_location").innerHTML = data.next_location.html
      }
      if (document.querySelector(".reading")) {
        document.querySelector(".reading").innerHTML = data.reading;
      }
      if (document.querySelector(".listening")) {
        document.querySelector(".listening").innerHTML = data.listening;
      }
      if (document.querySelector(".background-image")) {
        document.querySelector(".background-image").style.backgroundImage = data.location.image
      }
      
      data.building.forEach(function(building) {
        element = "<li>🚧 Building <a target='_blank' href='"+building[1]+"'>"+building[0]+"</a></li>";
        if (document.querySelector(".building")) {
          document.querySelector(".building").insertAdjacentHTML('beforeend', element);
        }
      });
    }
  }
  xmlHttp.open("GET", '/assets/now.json', true);
  xmlHttp.send(null);
</script>
