html,
body,
.container-table {
  height: 100%;
}

.container-table {
  display: table;
}

.vertical-center-row {
  display: table-cell;
  vertical-align: middle;
}

.portfolio-item {
  margin-bottom: 25px;
}

body {
  background: #000000 url('/bg.jpg') no-repeat center center fixed;
  color: #fff;
  font-weight: 500;
  line-height: 1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a,
a:focus {
  color: #fff;
}

a:hover {
  color: #3498db;
}

.em.social {
  font-size: 18px;
  margin: 9px;
}

.em.social:hover {
  opacity: 0.7;
}

a.social-link:hover {
  color: transparent;
}

h2 {
  font-weight: bold;
}

/*
*  Style brands
*/

hr {
  border-color: #3498db;
  border-width: 2px;
}

.social-icons {
  margin-top: 10px;
}

p>.em {
  font-size: 12px;
}

p {
  line-height: 20px;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

.container {
  padding-top: 30px;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  background-color: rgba(44, 62, 80,0.7);
}

li {
  margin-bottom: 4px;
}

ul {
  list-style-type: square;
}
@media (max-width: 768px) {
  .col-xs-12.text-right {
    text-align: center !important;
  } 
}