html,
body,
.container-table {
  height: 100%;
}

.container-table {
  display: table;
}

.vertical-center-row {
  display: table-cell;
  vertical-align: middle;
}

.portfolio-item {
  margin-bottom: 25px;
}

body {
  background: #000000 url('/bg.jpg') no-repeat center center fixed;
  color: #ecf0f1;
  line-height: 1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a,
a:focus {
  color: #fff;
}

a:hover {
  color: #ecf0f1;
}

.description {
  color: #ecf0f1;
  font-size: 14px;
}

.fa.social {
  padding: 15px;
  font-size: 30px;
  width: 55px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin-left: 5px;
}

.fa.social:hover {
  opacity: 0.7;
}

a.social-link:hover {
  color: transparent;
}


/*
*  Style brands
*/

.social{
  color: white;
}

.bb {
  padding-top: 50px;
  padding-bottom: 30px;
  margin: auto;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: 0 2px, 0 100%, 0% 2px;
  border-radius: 6px;
  background-position: top center, top center, bottom center;
  animation: border 7s infinite;
}

@keyframes border {
  0%,
  100% {
    background-color: #3498db;
  }
  25% {
    background-color: #297bad;
  }
  50% {
    background-color: #2377ac;
  }
  75% {
    background-color: #0e5683;
  }
}

hr {
  border-color: #3498db;
  border-width: 2px;
}

.em {
  font-size: 22px;
}

p>.em {
  font-size: 12px;
}

p {
  line-height: 20px;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}