%ul.nav.nav-sidebar
  %li
    %a{:href => "#"}
      Dashboard
  %li
    %a{:href => backoffice_settings_path} Site Settings
  %li
    %a{:href => backoffice_socials_path} Social Settings
%ul.nav.nav-sidebar
  %li
    %a{:href => backoffice_projects_path} Projects
  %li
    %a{:href => backoffice_profile_path} My Profile
  %li
    = link_to('Logout', destroy_user_session_path, method: :delete)