%ul.nav.nav-sidebar
  %li.active
    %a{:href => "#"}
      Dashboard
  %li
    %a{:href => "#"} Settings
%ul.nav.nav-sidebar
  %li
    %a{:href => ""} Projects
  %li
    %a{:href => ""} Users
  %li
    %a{:href => ""} Logout
