- content_for :header do
  Viewing Profile

%p
  %b Name:
  = @user.name

%p
  %b Bio:
  = @user.bio

%p
  %b eMail:
  = @user.email

%p
  %b Image:
  %img{:src => @user.photo, :width => '90px'}

= link_to "Edit", edit_backoffice_profile_path, class: 'btn btn-primary'