---
layout: default
---
<div id="posts" class="home">

  {%- if site.posts.size > 0 -%}
    {%- for post in site.posts -%}
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <section class="hero is-info is-medium is-bold" {%- if post.cover and post.cover.size > 0 -%}style="background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)), url('{% asset_path {{post.cover}} {{post.id}} %}')"{%- endif -%}>
        <a href="{{ post.url | relative_url }}">
          <div class="hero-body">
            <div class="container has-text-centered">
              <div class="columns">
                <div class="column is-three-fifths is-offset-one-fifth">
                  <h1 class="title has-margin-bottom-none">{{ post.title | escape }}</h1>
                  <small>{{ post.date | date: date_format }}</small>
                  <h2 class="subtitle has-margin-top-md">
                    {{ post.excerpt }}
                  </h2>
                </div>
              </div>
            </div>
          </div>
        </a>
      </section>
    {%- endfor -%}
  {%- endif -%}

</div>
