---
layout: default
---
<section id="post-header" class="hero is-info is-medium is-bold" {%- if page.cover and page.cover.size > 0 -%}style="background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)), url('{% asset_path {{page.cover}} {{page.id}} %}')"{%- endif -%}>
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <strong>🚀 lenilsonjr</strong>
          </a>
          <span class="navbar-burger burger" data-target="navbarMenu">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenu" class="navbar-menu">
          <div class="navbar-end">
            <div class="tabs is-right">
              <span class="navbar-item">
                <a class="button is-white is-outlined" href="/">
                  Home
                </a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">{{ page.title | escape }}</h1>
      <h2 class="subtitle">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </h2>
    </div>
  </div>
</section>
<div class="container has-padding-top-md has-padding-bottom-md">
  <div id="post-content" class="content is-medium has-padding-left-sm has-padding-right-sm">
    {{ content }}
  </div>
</div>
